@import url("./variables.css");

/********* SHARED ********/
a{
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, p, a, li, label{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
}



/********* NAVBAR ********/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
}

.menu{
    display: flex;
    gap: 3em;
    font-size: 22px;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.logo{
    width: 200px;
    margin-left: 6rem;
}

.menu_support{
    border: 2px solid black;
}

.menu a{
    padding: 0.4rem;
}

/* CHECKBOX NAVBAR */
#checkbox_toggle{
    display: none;
}

.burger{
    display: none;
    font-size: 24px;
}

#checkbox_toggle:checked ~ nav{
    display: block;
}

/* HOVER STATE NAVBAR */

.menu_hover:hover{
    text-decoration: underline;
}

.menu_support:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #FFFFFF;
}

/* MEDIA QUERIES NAVBAR*/
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }

    #checkbox_toggle:checked ~ .menu{
        display: block;
    }

    .burger{
        display: block;
    }
}


/************** FOOTER ************/



/************* INDEX  *************/

/* INDEX BANNER */

.index-body{
    background-color: #000000;
}

.index-banner{
    background-image: url(/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.index-banner__text{
    background-color: #FFFFFF;
    float: right;
    margin: 20rem 3rem 0 0 ;
    padding: 3em;
    width: 31vw;
    min-height: 1vh;
}

.index-banner__text h1{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0.8em;
}

.index-banner__text h2{
    font-size: 20px;
    font-weight: 300;
}

.index-banner__text i{
    float: right;
    margin: 1rem 0.5rem;
    font-size: 26px;
}

/* FEATURED INDEX */

.featured-section{
    display: flex;
    justify-content: space-around;
}

.featured-container{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.featured-container img{
    width: 100%;
    object-fit: cover;
}

.text-container{
    flex: 1;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
}

/********** EXHIBITIONS  **********/

/* TOP MENU */
.exhibitions-body{
    background-color: #000000;
}

.exhibitions-menu{
    text-align: center;
    padding: 6rem;
    background: var(--color-secondary);
}

.exhibitions-menu h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 2rem;
    padding: 1rem;
}

.menu-button{
    font-size: 22px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 3rem 4rem 1rem;
    border: 2px solid;
}

.menu-button:hover{
    background-color: var(--color-primary);
    color:#FFFFFF;
}

/* Exhibitions view */

.exhibitions-section{
    width: 100%;
}
.exhibitions-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.exhibitions-container img{
    width: 50vw;
}

.exhibitions-text{
    padding: 8vw;
    text-align: center;
}

.exhibitions-text h2{
    font-size: 2vw;
    font-weight: 600;
    padding-bottom: 1vw;
}

.exhibitions-text p{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3vw;
    font-weight: 300;
    padding: 2vw;
}

/* Exhibitions view: Background colors */
.space{
    background-color: #7D9ABC;
}

.human{
    background-color: #EDF1CC;
}

.tech{
    background-color: #CDDADB;
}

.biology{
    background-color: #C7C5C9;
}

.dinosaur{
    background-color: #A48167;
}

/* Events view */

.events-section{
    background-color: var(--color-secondary);

}

.events-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

/************ CONTACT *************/

.contact-body{
    background-color: #000000;
}

.contact-top{
    display: flex;
    padding: 4rem;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.contact-top i{
    background-color: #FFFFFF;
    font-size: 2rem;
    border-radius: 100%;
    padding: 1em;
    margin-bottom: 1rem;
    
}

.contact-top p{
    color: #FFFFFF;
    padding: 0.5rem;
}

/* Contact form */

.contact-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    margin: 0 5rem;
}

.contact-form-container h2{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.contact-form{
    padding: 40px;
    width: 20vw;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="submit"],
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: block;
    box-sizing: border-box;
}

.contact-form input[type="submit"]{
    background-color: var(--color-primary);
    color: #FFFFFF;
    border-style: none;
    padding: 15px;
}

#message{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
    height: 4rem;
}







/********** CONTRIBUTE  ***********/




/******** PRIVACY POLICY  *********/





/********* TERMS OF USE  **********/


