@import url("./variables.css");

/********* SHARED ********/
a{
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, p, a{
    font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
}



/********* NAVBAR ********/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
}

.menu{
    display: flex;
    gap: 3em;
    font-size: 22px;
    font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.logo{
    width: 150px;
    margin-left: 6rem;
}

.menu_support{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.menu a{
    padding: 0.4rem;
}

/* CHECKBOX NAVBAR */
#checkbox_toggle{
    display: none;
}

.burger{
    display: none;
    font-size: 24px;
}

#checkbox_toggle:checked ~ nav{
    display: block;
}

/* HOVER STATE NAVBAR */

.menu_hover:hover{
    text-decoration: underline;
}

.menu_support:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #FFFFFF;
}

/* MEDIA QUERIES NAVBAR*/
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }

    #checkbox_toggle:checked ~ .menu{
        display: block;
    }

    .burger{
        display: block;
    }
}


/************** FOOTER ************/



/************* INDEX  *************/

/* INDEX BANNER */

.index-body{
    background-color: #000000;
}

.index-banner{
    background-image: url(/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
}

.index-banner__text{
    background-color: #FFFFFF;
    float: right;
    margin: 20rem 3rem 0 0 ;
    padding: 3em;
    width: 31vw;
    min-height: 1vh;
}

.index-banner__text h1{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0.8em;
}

.index-banner__text h2{
    font-size: 20px;
    font-weight: 300;
}

.index-banner__text i{
    float: right;
    margin: 1rem 0.5rem;
    font-size: 26px;
}

/* FEATURED INDEX */

.featured-section{
    display: flex;
    justify-content: space-around;
}

.featured-container{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.featured-container img{
    width: 100%;

    object-fit: cover;
}

.text-container{
    flex: 1;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
}




/************ CONTACT *************/



/********** EXHIBITIONS  **********/


/********** CONTRIBUTE  ***********/




/******** PRIVACY POLICY  *********/





/********* TERMS OF USE  **********/


